@import "libs/_reset.scss";
@import "libs/_variables.scss";
@import "libs/_fonts.scss";
@import "libs/_animations.scss";
@import "libs/_mediaQuery.scss";

body{
    background-color: $primaryColor;
}

%borderRadiusBottom10{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card{
    width: 400px;
    margin: 80px auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    background-color: $primaryColor;
    overflow: hidden;
    @extend %borderRadiusBottom10;

    

        header{  
            width: 100%;
            height: 300px;

        figure{
            width: 100%;
            height: 300px;
            position: relative;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .date{
            position: relative;
            bottom: 280px;
            right: 20px;
            float: right;
            display: flex;                  
            padding: 2px;            
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid $secondaryColor;
            span{
                font-family: 'Roboto',sans-serif;
                font-size: 14px;
                color: $secondaryText;
                text-transform: capitalize;
                background-color: $secondaryColor;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;  
            }           
        }
    }

    main{
        z-index: 2;
        position: relative;
        width: auto;
        height: 130px;
                 
        
        article{    
            padding: 0 20px;
            position: relative;
            min-height: 320px;
            background-color: $primaryColor;
            animation: none;
            bottom: 0;

                .info{
                   width: 100%;
                   height: 30px;
                   background-color: transparent;                  
                    
                    span{
                        display: flex;
                        width: 120px;
                        height: 30px;
                        padding: 5px;
                        background-color: $secondaryColor;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        font-family: 'Roboto',sans-serif;
                        font-size: 14px;
                        font-weight: bold;
                        color: $secondaryText;
                        text-transform:uppercase;
                        position: relative;
                        bottom: 20px;
                    }
                }
                .title{
                    font-family: 'Roboto',sans-serif;
                    font-size: 1.8rem;
                    color: $primaryText;
                    text-transform:uppercase;
                    padding: 5px 0px;
                }
                .subtitle{
                    font-family: 'Roboto',sans-serif;
                    font-size: 1.2rem;
                    color: $subtitleText;
                    text-transform:uppercase;
                    padding: 10px 0px 30px 0px;
                }
                .content{
                    width: 90%;
                    height: 150px;
                    font-family: 'Roboto',sans-serif;
                    font-size: 0.9rem;
                    color: $primaryText;
                    text-transform:capitalize;
                    padding: 0 20px 10px 0;
                    overflow-y: auto;
                    text-align: justify;
                    &::-webkit-scrollbar { 
                        width: 6px; 
                        background-color: $primaryColor;
                    }
                    &::-webkit-scrollbar-thumb{
                        background-color: $secondaryColor;
                    } 
                                  
                }

                &:hover{
                   animation: slidarticleUp 0.8s forwards;                    
                }   
                &:not(hover){
                    animation: slidarticleDown 0.8s forwards; 
                }

        }  

    }
    footer{
        position: relative;
        z-index: 3;
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row;
        background-color: #f2eeee;
        cursor: pointer;
        @extend %borderRadiusBottom10;
        transition: all 0.6s;      

        %tools{
            flex: 1;
            font-family: 'Roboto',sans-serif;
            font-size: 12px;
            color: $primaryText;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 0;
            border: 1px solid #c0c0c0;

            &:hover{
                background-color: $secondaryColor;
                color : $secondaryText;
                transition: all 0.6s;
            }            
            .iconeSvg{
                width: 14px;
                height:  14px;
                margin-right: 5px;
                path{
                    fill: c0c0c0;                       
                }
            }
            &:hover .iconeSvg{
                fill : $secondaryText;
            }
        }
        .time{
            @extend %tools;
            border-right: 0px;
        }
        .comments{
            @extend %tools;
        }
        
    }

    @include Mobile{
        width: 90%;
    }
   
}

